.goods-list-header {
background-color: #f7f7f8;
    padding: .2em 0;
}
.goods-list-title {
	    text-align: center;
    font-size: 18px;
    font-weight: normal;
}



#goods-list-wrap {
	margin-bottom: 43px;
}
.goods-item {
	padding: 7px 0px;
    width: 50%;
}
.select-goods-item {
	position: absolute;
    top: .1em;
    left: .1em;
}

.goods-pic {
	width: 60px;
	height: 60px;
}
.goods-basic-info .goods-name {
	display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 13em;
}
.goods-basic-info .goods-original-price {
	display: block;
	font-size: 12px;
	color: #999;
	text-decoration: line-through;
}
.goods-basic-info .goods-actual-price {
	display: block;
	font-size: 14px;
	color: #ce4646;
	font-weight: bold;
}

//底部
.weui-footer_fixed-bottom .total-info {
  background-color: #3D3D3F;
  margin-bottom: -0.5em;
  overflow: hidden;
}
.weui-footer .total-info {
    background-color: #3D3D3F;
    margin-bottom: -0.5em;
    overflow: hidden;
}
.weui-footer .payable {
	float: left;
    margin-left: 1em;
    color: #fff;
    font-size: 16px;
    line-height: 2.5em;
}
.weui-footer #to-preview-btn {
	background-color: #68C77B;
    color: #fff;
    float: right;
    padding: .7em 1em;
}

//弹出层
#no-data-list {
	margin-top: 21.4em;
}
#no-data-list .weui-loadmore__tips {
	background-color: #efeff4;
}


#full-selected-goods {
	// position: relative;
}
#full-selected-goods .op-btn-wrap {
	background-color: #fff;
    margin-bottom: -.5em;
    line-height: 3em;
}
#full-selected-goods .close-popup {
	width: 49%;
    display: inline-block;
    float: left;
    border-right: 1px solid #eee;
    font-size: 16px;
    color: #999;
}
#full-selected-goods .save-popup {
	width: 50%;
    font-size: 16px;
    color: #0bb20c;
}
#full-selected-goods .goods-selected-total-info {
    text-align: left;
    background-color: #fafafb;
    color: #000;
    border-bottom: 1px solid #eee;
}
.goods-selected-total-info .total-sum {
    margin-left: 2px;
}
.goods-selected-total-info .total-num {
    color: #ce4646;
}
.goods-selected-total-info .total-amt {
    color: #ce4646;
}
#goods-wrap .goods-selected-name {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 13em;
    font-size: 16px;
}
#goods-wrap .goods-price {
    margin-right: 2px;
}