/*
 *登录页
 */
body, html {
  height: 100%;
  -webkit-tap-highlight-color: transparent;
}
.login-title {
  text-align: center;
  font-size: 34px;
  color: #3cc51f;
  font-weight: 400;
  margin: 0 15%;
}

.login-header {
  padding: 35px 0;
}

.login-form .weui-cell_vcode{
  padding: 10px 15px;
}
.to-register {
  padding-left: 15px;
  padding-right: 15px;
  font-size: 14px;
  margin: 10px 0px;
}
.to-register-btn {
  float: right;
  color: #3cc51f;
}