/*
 *结算页
 */

 // 结算页头部
.settlement-header {
  margin-bottom: -20px;
}
.settlement-header-wrap {
  position: relative;
  width: 100%;
  font-size: .85rem;
  line-height: 1.5;
  color: #3d4145;
  background: #f7f7f8;
  margin-bottom: -19px;
  border-bottom: 1px solid #e5e5e5;
}
.settlement-header-inner {
  height: 2.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  text-align: center;
}
.settlement-header .settlement-header-inner .title {
  position: absolute;
  display: block;
  width: 100%;
  padding: 0;
  font-size: .85rem;
  font-weight: normal;
  line-height: 2.2rem;
  color: #3d4145;
  text-align: center;
  white-space: nowrap;
}
.settlement-header-op {
	line-height: 2.2em;
    color: #3d3d3f;
    margin-left: .5em;
    font-size: 20px;
}
//收货地址
.weui-cells__title {
    margin-top: 0;
}
.weui-cells__title {
    margin-top: 1.77em;
}
.address-item {
	width: 20em;
}
.address-item p{
	font-size: 14px;
	width: 20em;
}
.address-item .user-tel {
	margin-left: 20px;
}
//商品列表
.goods-list {

}
.goods-name {
	font-size: 14px;
}
//底部
.weui-footer_fixed-bottom .footer-address {
	font-size: 12px;
    background-color: #FFFBDA;
    overflow: hidden;
}
.weui-footer .footer-address {
	font-size: 12px;
    background-color: #FFFBDA;
    overflow: hidden;
}
.weui-footer .footer-address p {
	float: left;
}
// .weui-footer .footer-address p .user-tel {
// 	margin-left: 1em;
// }
// .weui-footer_fixed-bottom .total-info {
//     background-color: #3D3D3F;
//     margin-bottom: -0.5em;
//     overflow: hidden;
// }
.weui-footer .total-info {
    background-color: #3D3D3F;
    margin-bottom: -0.5em;
    overflow: hidden;
}
.weui-footer .payable {
	float: left;
    margin-left: 1em;
    color: #fff;
    font-size: 16px;
    line-height: 2.5em;
}
.weui-footer .to-order {
	background-color: #68C77B;
    color: #fff;
    float: right;
    padding: .7em 1em;
}